@tailwind base;
@tailwind components;
@tailwind utilities;


/* #root{
    width: 100dvw;
    min-height: 100dvh;
    border: 1px solid red;
} */

/* global class */
.responsive-grid-layout{
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    justify-content: center;
}


.no-scrollbar {
    /* this style will maintain scroll functionality without showing the scrollbar */ 
    overflow: auto; /* Enables scrolling */ 
    scrollbar-width: none; /* For Firefox */
}

/* For WebKit-based browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar{
    display: none;
}